<!DOCTYPE html>
<html lang="en">
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link
        rel="icon"
        type="image/x-icon"
        href="img/favicon.png"
        sizes="192x192"
      />
      <link rel="stylesheet" href="css/styles.css" />
      <link rel="stylesheet" href="css/booking.css" />
      <link rel="stylesheet" href="/css/dashboard.css" />
      <title>Travel - Tableau de bord</title>
    </head>
    <body>
      <%- include('_header_protected.ejs') %>
      <main>
        <aside class="sidebar">
          <div class="img-container">
            <img
              src="img/avatar.png"
              alt="Profile Picture"
              class="profile-img"
            />
          </div>
          <div class="info-container">
            <div class="name"><%= user.name %></div>
            <div class="email"><%= user.email %></div>
          </div>
        </aside>
        <section class="dashboard-overview">
          <h2>Tableau de bord</h2>
          <table class="results-table">
            <thead>
              <tr>
                <th rowspan="2">ID de vol</th>
                <th rowspan="2">Prix</th>
                <th colspan="3">Aller</th>
                <th colspan="3">Retour</th>
              </tr>
              <tr>
                <th>Départ</th>
                <th>Arrivée</th>
                <th>Durée</th>
                <th>Départ</th>
                <th>Arrivée</th>
                <th>Durée</th>
              </tr>
            </thead>
            <tbody>
              <% if (userFlights && Array.isArray(userFlights) &&
              userFlights.length > 0) { %> <% userFlights.forEach((flight) => {
              %>
              <tr class="result-item">
                <td><%= flight.flight_id %></td>
                <td><%= flight.price %></td>
                <td>
                  <p>
                    <strong><%= flight.departuretime %></strong> <%=
                    flight.departureairport %>
                  </p>
                </td>
                <td>
                  <p>
                    <strong><%= flight.arrivaltime %></strong> <%=
                    flight.arrivalairport %>
                  </p>
                </td>
                <td><%= flight.duration %></td>
                <td>
                  <p>
                    <strong><%= flight.returndeparturetime %></strong> <%=
                    flight.arrivalairport %>
                  </p>
                </td>
                <td>
                  <p>
                    <strong><%= flight.returnarrivaltime %></strong> <%=
                    flight.departureairport %>
                  </p>
                </td>
                <td><%= flight.returnduration %></td>
              </tr>
              <% }); %> <% } else { %>
              <tr>
                <td colspan="8">Aucun vol réservé.</td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </section>
      </main>
    </body>
  </html>
</html>
